{% load static %}

<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'css/libs.bundle.css' %}">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.bundle.css' %}">

    <!-- Title -->
    <title>Artesanato com MIMO</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-togglable fixed-top">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand" href="/">
                MIMO
            </a>

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fe fe-x"></i>
                </button>

                <!-- Navigation -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#about">
                            Sobre nós
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#products">
                            Nossos artesanatos
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>

    <!-- BANNER -->
    <section data-jarallax data-speed=".8" class="pt-12 pb-10 pt-md-15 pb-md-14"
        style="background-image: url(static/img/banner.jpeg)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">

                    <!-- Heading -->
                    <h1 class="display-3 fw-bold text-white" id="welcomeHeadingSource">
                        Artesanato com <mark>MIMO</mark>, <br />
                        <span>por </span><span class="display-4 text-warning"
                            data-typed='{"strings": ["Jô e Eglaçy", "Eglacy e Jô"]}'></span>
                    </h1>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <!-- ABOUT -->
    <section id="about" class="py-8 py-md-11">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-md-6">

                    <!-- Preheading -->
                    <h6 class="text-uppercase text-primary fw-bold">
                        Sobre nós
                    </h6>

                    <!-- Heading -->
                    <h2>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,.
                    </h2>

                    <!-- Text -->
                    <p class="lead text-body-secondary mb-6 mb-md-0">
                        Lacus vestibulum sed arcu non odio euismod lacinia. Ipsum consequat nisl vel pretium.
                    </p>
                </div>
                <div class="col-12 col-md-6 col-xl-5">

                    <div class="row gx-0">
                        <div class="col-4">

                            <!-- Image -->
                            <div class="w-150 mt-9 p-1 bg-white shadow-lg" data-aos="fade-up" data-aos-delay="100">
                                <img src="{% static 'img/cover-1.jpeg' %}" class="img-fluid" alt="...">
                            </div>

                        </div>
                        <div class="col-4">

                            <!-- Image -->
                            <div class="w-150 p-1 bg-white shadow-lg" data-aos="fade-up">
                                <img src="{% static 'img/cover-2.jpeg' %}" class="img-fluid" alt="...">
                            </div>

                        </div>
                        <div class="col-4 position-relative">

                            <!-- Image -->
                            <div class="w-150 mt-11 float-end p-1 bg-white shadow-lg" data-aos="fade-up"
                                data-aos-delay="150">
                                <img src="{% static 'img/cover-3.jpeg' %}" class="img-fluid" alt="...">
                            </div>

                        </div>
                    </div> <!-- / .row -->

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <!-- PRODUCTS -->
    <section data-jarallax data-speed=".8" class="py-14 py-lg-16 jarallax"
        style="background-image: url(static/img/cover-products.jpeg);">

        <!-- Shape -->
        <div class="shape shape-top shape-fluid-x text-white">
            <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h2880v125h-720L720 250H0V0z" fill="currentColor" />
            </svg>
        </div>

        <!-- Shape -->
        <div class="shape shape-bottom shape-fluid-x text-light">
            <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M720 125L2160 0h720v250H0V125h720z" fill="currentColor" />
            </svg>
        </div>

    </section>

    <!-- BRANDS -->
    <section class="py-6 py-md-8 bg-warning mb-5">
        <div class="container text-center">
            <h1>Artesanatos</h1>
        </div> <!-- / .container -->
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="card mb-5">
                        <div class="card-body py-0 px-0">
                            <a class="card card-flush mb-7 mb-md-0"
                                data-bigpicture='{"imgSrc": "static/img/product-1.jpeg"}' href="#">
                                <div class="card-zoom">
                                    <img src="{% static 'img/product-1.jpeg' %}"
                                        class="img-fluid card-img-top rounded shadow-light-lg" alt="...">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-5">
                        <div class="card-body py-0 px-0">
                            <a class="card card-flush mb-7 mb-md-0"
                                data-bigpicture='{"imgSrc": "static/img/product-2.jpeg"}' href="#">
                                <div class="card-zoom">
                                    <img src="{% static 'img/product-2.jpeg' %}"
                                        class="img-fluid card-img-top rounded shadow-light-lg" alt="...">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-5">
                        <div class="card-body py-0 px-0">
                            <a class="card card-flush mb-7 mb-md-0"
                                data-bigpicture='{"imgSrc": "static/img/product-3.jpeg"}' href="#">
                                <div class="card-zoom">
                                    <img src="{% static 'img/product-3.jpeg' %}"
                                        class="img-fluid card-img-top rounded shadow-light-lg" alt="...">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-5">
                        <div class="card-body py-0 px-0">
                            <a class="card card-flush mb-7 mb-md-0"
                                data-bigpicture='{"imgSrc": "static/img/product-4.jpeg"}' href="#">
                                <div class="card-zoom">
                                    <img src="{% static 'img/product-4.jpeg' %}"
                                        class="img-fluid card-img-top rounded shadow-light-lg" alt="...">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-5">
                        <div class="card-body py-0 px-0">
                            <a class="card card-flush mb-7 mb-md-0"
                                data-bigpicture='{"imgSrc": "static/img/product-5.jpeg"}' href="#">
                                <div class="card-zoom">
                                    <img src="{% static 'img/product-5.jpeg' %}"
                                        class="img-fluid card-img-top rounded shadow-light-lg" alt="...">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-5">
                        <div class="card-body py-0 px-0">
                            <a class="card card-flush mb-7 mb-md-0"
                                data-bigpicture='{"imgSrc": "static/img/product-6.jpeg"}' href="#">
                                <div class="card-zoom">
                                    <img src="{% static 'img/product-6.jpeg' %}"
                                        class="img-fluid card-img-top rounded shadow-light-lg" alt="...">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-5">
                        <div class="card-body py-0 px-0">
                            <a class="card card-flush mb-7 mb-md-0"
                                data-bigpicture='{"imgSrc": "static/img/product-7.jpeg"}' href="#">
                                <div class="card-zoom">
                                    <img src="{% static 'img/product-7.jpeg' %}"
                                        class="img-fluid card-img-top rounded shadow-light-lg" alt="...">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-5">
                        <div class="card-body py-0 px-0">
                            <a class="card card-flush mb-7 mb-md-0"
                                data-bigpicture='{"imgSrc": "static/img/product-8.jpeg"}' href="#">
                                <div class="card-zoom">
                                    <img src="{% static 'img/product-8.jpeg' %}"
                                        class="img-fluid card-img-top rounded shadow-light-lg" alt="...">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-5">
                        <div class="card-body py-0 px-0">
                            <a class="card card-flush mb-7 mb-md-0"
                                data-bigpicture='{"imgSrc": "static/img/product-9.jpeg"}' href="#">
                                <div class="card-zoom">
                                    <img src="{% static 'img/product-9.jpeg' %}"
                                        class="img-fluid card-img-top rounded shadow-light-lg" alt="...">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="py-8 py-md-11 bg-gray-200">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">

                    <!-- Brand -->
                    <img src="{% static 'img/logo.png' %}" alt="..." class="footer-brand img-fluid mb-2 mw-25">

                    <!-- Social -->
                    <ul class="list-unstyled mb-6 mb-md-0">
                        <li class="list-inline me-3">
                            <h3>21 99231-5479</h3>
                        </li>
                        <li class="list-inline me-3">
                            <a href="https://www.facebook.com/artesanatocommimo" target="_blank"
                                class="text-decoration-none">
                                <img src="{% static 'img/facebook.svg' %}" class="list-social-icon" alt="...">
                                facebook
                            </a>
                        </li>
                    </ul>

                </div>
            </div> <!-- / .container -->
    </footer>

    <!-- JAVASCRIPT -->
    <!-- Vendor JS -->
    <script src="{% static 'js/vendor.bundle.js' %}"></script>

    <!-- Theme JS -->
    <script src="{% static 'js/theme.bundle.js' %}"></script>

</body>

</html>
